@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold/fonts/Montserrat-Bold.eot');
  src: local('☺'), url('../fonts/Montserrat-Bold/fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold/fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Extra-Bold';
  src: url('../fonts/Montserrat-ExtraBold/fonts/Montserrat-ExtraBold.eot');
  src: local('☺'), url('../fonts/Montserrat-ExtraBold/fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold/fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBold/fonts/Montserrat-ExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium/fonts/Montserrat-Medium.eot');
  src: local('☺'), url('../fonts/Montserrat-Medium/fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium/fonts/Montserrat-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Semi-Bold';
  src: url('../fonts/Montserrat-SemiBold/fonts/Montserrat-SemiBold.eot');
  src: local('☺'), url('../fonts/Montserrat-SemiBold/fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold/fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold/fonts/Montserrat-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


* {

  outline: none;

}

img {

  max-width: 100%;

}

#logo {

  max-width: 140px;

}

.banner-header {

  background-size: cover;
  background-position: center center;
  height: 550px;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

}

.banner-header.about {

  background-image: url("../img/hotel_catamaran_about.jpg");

}

.banner-header.amenities {

  background-image: url("../img/hotel_catamaran_amenities.jpg");

}

.banner-header.rooms {

  background-image: url("../img/hotel_catamaran_rooms.jpg");

}

.banner-header.what-to-do {

  background-image: url("../img/hotel_catamaran_what_to_do.jpg");

}

.banner-header.contact {

  height: auto;
  padding: 0px;

}

.banner-header.marina {

  background-image: url("../img/hotel_catamaran_marina.jpg");

}

.banner-header.index {

  background-image: url("../img/mar-hotel-catamaran.jpg");
  height: 100vh;
  padding: 0px;

}

.banner-header .header-back {

  padding: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFF;
  box-shadow: #505050 0px 0px 25px;

}


.button-box {

  position: absolute;
  width: 100%;
  bottom: 50px;
  left: 0px;

}

.img-flying {

  position: relative;
  top: -40px;

}


.border-design {

  border: 1px solid;
  padding: 15px;

}

.text-flying-top {

  position: absolute;
  width: auto;
  right: 25px;
  top: -50px;
  padding: 15px 75px;

}

.text-flying-bottom {

  position: absolute;
  width: auto;
  right: 25px;
  bottom: -50px;
  padding: 15px 75px;

}


.banner-header #button {

  background-color: rgba(74, 74, 74, 0.60);
  border-radius: inherit;
  color: #FFF;
  padding: 12px 45px;

}


.banner-header.contact #menu li a {

  color: #000;

}

.banner-header.index #menu li a {

  color: #000;

}

#menu li {

  float: left;
  list-style: none;
  margin-left: 30px;

}


#menu {

  margin: 0px;

}

.title {

  font-size: 24px;
  color: #4A4A4A;
  font-family: 'Montserrat-Extra-Bold';

}

.text {

  font-size: 16px;
  color: #4A4A4A;
  text-align: justify;
  font-family: 'Montserrat-Medium'

}


#menu li a {

  color: #FFF;
  text-decoration: none;
  font-family: 'Montserrat-Medium'

}

#menu li a.active {

  font-family: 'Montserrat-Bold'

}

.container-relative {

  position: relative;

}

.container-relative:hover .text-desc {

  opacity: 1;
  -webkit-opacity: 1;
  
}

.text-desc {

  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
  padding: 20px;
  padding-bottom: 35px;
  font-size: 14px;
  background-color: rgba(0,0,0,0.63);
  color: #FFF;
  opacity: 0;
  -webkit-opacity: 0;
  font-family: 'Montserrat-Medium';
  transition: all 1s;

}



@media (max-width: 33.9em) { 

  

}

@media (max-width: 47.9em) {



}
 
@media (max-width: 61.9em) {


  .img-flying {

    position: initial;
    margin-top: 10px;
  
  }

  .text-flying-top {

    position: relative;
    width: auto;
    right: 0px;
    top: 0px;
    padding: inherit;
    margin-top: 50px;

  }
  
  .text-flying-bottom {
  
    position: relative;
    width: auto;
    right: 0px;
    bottom: -0px;
    padding: inherit;
    margin-bottom: 50px;
  
  }
  
}
 
@media (max-width: 74.9em) { 



}

